python-dotenv
azure-cosmos
openai
streamlit
authlib
python-docx
azure-search-documents 
markitdown
PyPDF2
numpy
tiktoken
audio_recorder_streamlit
azure-cognitiveservices-speech
openai-whisper
torch 
torchvision 
torchaudio --index-url https://download.pytorch.org/whl/cpu